html {
	overflow-x: hidden;
}

.last-updated {
  padding-left: 6px;
  padding-top: 12px;
  color: lightslategrey;
}

.update-button {
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.button-panel {
  margin-top: 12px;
}

.title {
  padding-left: 6px;
}

.update-field {
  width: 90%;
}
